<!DOCTYPE html>
<html lang="en" ng-app='lexMod'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Class</title>
    <script src="lib/angular.js"></script>
</head>

<body ng-controller='MainCtrl'>
    <ul>
        <li ng-repeat="item in items track by item._id">
            <a ng-click="setSelectedItem(item, $index)">{{ item.fullName }}</a>
            <button ng-click="deleteItem($index)">del</button>
        </li>
    </ul>

    <input placeholder="Enter New Item" type="text" ng-model="newItem" />
    <button ng-click="addItem()">Add</button>

    <div ng-show="selectedItem">
        <p>EDIT FORM</p>
        <input placeholder="Existing Item" ng-model="selectedItem" type="text" />
        <button ng-click="updateItem()">Update</button>
    </div>

    <div>
        <p>LOGI FORM</p>
        <input placeholder="username" ng-model="username" type="text" />
        <input placeholder="password" ng-model="password" type="text" />
        <button ng-click="login()">Login</button>
    </div>


    <script>
        var app = angular.module('lexMod', []);




        app.controller('MainCtrl', function ($scope, LexClassService) {
            $scope.selectedItem = null;


            var obj = {};

            $scope.login = function () {
                LexClassService.doLogin($scope.username, $scope.password)
                    .success((obj) => {
                        obj.token = obj.payload.token;
                        obj.user = obj.payload.user;
                        console.log(obj);

                        LexClassService.fetchUsers(obj.token)
                            .success((result) => {
                                $scope.items = result.payload;
                            })
                            .catch((e) => {
                                console.log(e);
                            })

                    })
                    .catch((err) => {
                        console.log(err);
                    })
            }

            var itemIndex;
            $scope.items = [];
            $scope.addItem = function () {
                $scope.items.push($scope.newItem);
                $scope.newItem = '';
            }

            $scope.deleteItem = function (idx) {
                $scope.items.splice(idx, 1);
            }

            $scope.setSelectedItem = function (item, idx) {
                $scope.selectedItem = item;
                itemIndex = idx;
            }

            $scope.updateItem = function () {
                $scope.items[itemIndex] = $scope.selectedItem;
                $scope.selectedItem = null;
            }

        })



        app.service('LexClassService', function ($http) {
            function doLogin(username, password) {
                return $http.post('http://localhost:3000/api/v1/auth/login', { username, password });
            }

            function fetchUsers(token) {
                return $http.get('http://localhost:3000/api/v1/user/?token=' + token);
            }

            return {
                doLogin,
                fetchUsers
            }
        })




    </script>
</body>

</html>